/* Asegurar que el contenido esté centrado en toda la pantalla */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw; /* Ocupar todo el ancho */
  text-align: center;
}

/* Centrar los diálogos */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Asegurar que ocupa todo el ancho */
}

/* Centrar cada caja de diálogo */
.FancyBorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 400px;
}
